body {
    background-color: #887979;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1, h3 {
    color: #333;
}

form {
    margin: auto;
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

input[type="submit"], #summaryButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.incorrect {
    color: red;
}

.correct {
    color: green;
}
#summmary{
    font-size: larger;
}