.custom-card {
    transition: transform 0.5s ease; /* Add smooth transition effect */
  }
  .custom-card:hover {
    transform: scale(1.05); /* Apply scale effect on hover */
    cursor: pointer;
  }

@media (min-width: 576px) {
   
}

@media (min-width: 992px) {
    
}